<h3>Stories From All Over The World:</h3>
<br>
<div class="row">
    {{#each stories}}
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                {{{editIcon user ../user _id}}}
                {{!-- If we want to parse html with handlebars, we have to use triple curly braces--}}    
            </div>
            <div class="card-content center-align">
                <h5>{{title}}</h5>
                <p>{{ stripTags (truncate body 100)}}</p> {{!-- Using two helps here stripTags and truncate--}}
                <br>
                <div class="chip">
                    <img src="{{user.image}}" alt="">
                    <a href="/stories/user/{{user._id}}">{{user.displayName}}</a>
                </div>
            </div>
              <div class="card-action center-align">
                <a href="/stories/{{_id}}" class="btn">Read more</a>
            </div>
        </div>
    </div>

    {{else}}
     <p>No Stories to display</p>
    {{/each}}
</div>